{% extends 'admin/model/create.html' %}

<!-- #block create_form 

 #endblock  -->
{{form.direccion}}
{%block tail_js%}
{{super()}}
    
    
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />
    <script>
        // mapboxgl.accessToken = 'pk.eyJ1Ijoic21vbnRveWFnIiwiYSI6ImNrZGoxdzJsdDBhZnYzMHBkdDdienBlOGsifQ.-xFj199y-A52vnED0JHq3Q';
        // var map = new mapboxgl.Map({
        //     container: 'map',
        //     style: 'mapbox://styles/mapbox/streets-v11',
        //     center: [-70.2, -33.4],
        //     zoom: 9
        // });
    </script>
{% endblock %}