{% extends 'admin/base.html'%}

{% block content_title %}
Reportes
{% endblock %}

{% block body %}
<div class="jumbotron">
  <div class="row">
    <a href="{{url_for('.parking_report')}}" class="btn btn-info btn-report">
      <h4>Custodias</h4>
      <i class="glyphicon glyphicon-time"></i>
    </a>
  </div>



</div>
<style>
  body {
    background-color: rgb(236, 240, 245)
  }

  .jumbotron {
    background-color: white;
  }

  .btn-report {
    min-height: 100px;
    min-width: 120px;
  }
</style>
{% endblock %}
