{% extends 'admin/base.html'%}

{% block content_title %}
Reportes | Tiempos
{% endblock %}

{% block body %}
<div class="row text-right">

  <form class="col-md-12">
    <input class="form-control" type="text" id="range" value="{{from_date}} - {{to_date}}">
    <input type="hidden" value="{{from_date.date()}}" name="from_date">
    <input type="hidden" value="{{to_date.date()}}" name="to_date">
    <button class="btn btn-default">Actualizar</button>
  </form>
</div>

<div class="container row">
  <div class="col-md-3 col-xs-6 text-center">
    <div class="thumbnail">
      <h3>{{data | length}}</h3>
      Clientes
    </div>
  </div>
  <div class="col-md-3 col-xs-6 text-center">
    <div class="thumbnail">
      <h3>{{total_ingresos}}</h3>
      Vehiculos Ingresados
    </div>
  </div>
  <div class="col-md-3 col-xs-6 text-center">
    <div class="thumbnail">
      <h3>{{total_salidas}}</h3>
      Vehiculos retirados
    </div>
  </div>
  <div class="col-md-3 col-xs-6 text-center">
    <div class="thumbnail">
      <h3>{{dias_facturables}}</h3>
      Dias Facturables
    </div>
  </div>
</div>

{% for key in data.keys() %}
{% set reporte = data[key] %}

<div class="table-responsive">

  <table class="table table-bordered table-hover table-condensed">
    <thead><th colspan="10">{{reporte.empresa.nombre or reporte.empresa}}.</th></thead>
    <tr>
      <th></th>
      <th>Patente</th>
      <th>Vehiculo</th>
      <th>Ingreso</th>
      <th>Salida</th>
      <th>Dias en acopio</th>
      <th>Dias facturables</th>
      <th>Facturable</th>
    </tr>
    {% for custodia in reporte.custodias %}
    <tr>
      <td class="text-center">{{loop.index}}</td>
      <td><a href="{{url_for('vehiculo.details_view', id=custodia.vehiculo.id)}}">{{custodia.vehiculo.ppu}}</a></td>
      <td>{{custodia.vehiculo.marca }} {{custodia.vehiculo.modelo }}</td>
      <td>
        {%if custodia.ingreso%}
          {{custodia.ingreso.strftime('%Y-%m-%d %H:%M')}}
        {%else%}
          
          <small class="text-gray">No registrado
            <a href="{{url_for('custodia.edit_view', id=custodia.id)}}">.</a>
          </small>
        {%endif%}
      </td>
      <td>
        {%if custodia.salida%}{{custodia.salida.strftime('%Y-%m-%d %H:%M')}}{%else%}<small class="text-gray">No registra</small>{%endif%}
      </td>
      <td class="text-right">{{custodia.dias_en_acopio}}</td>
      <td class="text-right">{{custodia.dias_a_facturar}}</td>
      <td class="text-right">
        <i class="glyphicon glyphicon-{%if custodia.facturable%}ok{% else %}remove{%endif%}"></i>
      </td>
    </tr>
    {% endfor %}
    <tfoot>
      <th colspan="6">
        {{reporte.custodias | length}} unidades
      </th>
      <th colspan="2">
        {{reporte.dias_facturables}} <small>dias facturables</small><br>
        {{reporte.dias_no_facturables}} <small>dias no facturables</small><br>
      </th>
    </tfoot>
  </table>
</div>
{% endfor %}
<!-- <a class="btn btn-link" href="#">Descargar reporte</a> -->
{% endblock %}
{% block tail_js%}
{{super()}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
  $('input#range').daterangepicker({
    locale: {
      format: 'YYYY-MM-DD'
    },
    ranges: {
      'Hoy': [moment(), moment()],
      'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
      'Ultimos 7 dias': [moment().subtract(6, 'days'), moment()],
      'Ultimos 30 dias': [moment().subtract(29, 'days'), moment()],
      'este mes': [moment().startOf('month'), moment().endOf('month')],
      'Mes pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    },
  }, function (start, end, label) {
    $("input[name='from_date']").val(start.format('YYYY-MM-DD'));
    $("input[name='to_date']").val(end.format('YYYY-MM-DD'));

  });

</script>
{% endblock %}
