{% extends 'admin/base.html'%}

{% block content_title %}
Herramientas | importador de servicios
{% endblock %}

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/8.0.0/handsontable.full.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/8.0.0/handsontable.css" />
<div class="jumbotron">
  <div class="row">
    <h4><i class="glyphicon glyphicon-th"></i> Importador</h4>
    
    <form method="POST" class="form-inline">

      <input type="date" name="fecha" required class="form-control input-sm">
      <select name="empresa" class="form-control input-sm" required>{%for em in empresas%}<option value="{{em.id}}">
          {{em}}</option>
        {%endfor%}</select>
      <input type="hidden" name="datos" id="table_data">
      <div id="handsortable"></div>
          <button class="btn pull-right" type="submit">Cargar</button>
    </form>
    <script>
      

      var container = document.getElementById('handsortable');
      var hot = new Handsontable(container, {
      // data: ,
      rowHeaders: true,
      // colHeaders: true,
      minSpareRows: 2,

      stretchH: 'all',
      minRows: 3,
      licenseKey: 'non-commercial-and-evaluation',
      columns: [{
        editor: 'select',
        selectOptions: {{estados | safe}}
      }, {}, {}, {}, {},
      { editor: 'select',
        selectOptions: ["RETIRO", "INSPECCION", "INSPECCION + RETIRO", "TRASLADO"],
      }, {}, {}, {},
      ],
      nestedHeaders: [['Estado', 'Direccion', 'Comuna', 'ppu', 'hora', 'Servicio', 'inspectores', 'Comentario', 'Ejecutivo']],
      afterChange: function (change, source) {
        
        $("#table_data").val(JSON.stringify(this.getData()))
      }

      });
    </script>
    
    

  </div>



</div>
<style>
  body {
    background-color: rgb(236, 240, 245)
  }

  .jumbotron {
    background-color: white;
  }

  .btn-report {
    min-height: 100px;
    min-width: 120px;
  }
</style>
{% endblock %}
