<div class="container">

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="widget thumbnail" title="Vehiculos sin fecha de salida">
        <div class="row row-table">
          <div class="col-xs-12 text-center">
            <h2 class="mv-0">{{admin_view.count_parking_vehicles()}}</h2>
            <div class="text-uppercase">Vehiculos en bodega</div>
          </div>
        </div>
      </div>
      <!--end widget-->
    </div>

    <div class="col-lg-3 col-md-6 col-xs-6">
      <div class="widget thumbnail" title="Vehiculos sin fecha de salida">
        <div class="row row-table">
          <!-- <div class="bg-primary col-xs-3 text-center" style="vertical-align: middle;">
                      <i class="fa fa-parking" style="font-size: 48px;"></i>
                  </div> -->
          <div class="col-xs-12 text-center">
            <h2 class="mv-0">{{admin_view.num_reviews_today()}}</h2>
            <div class="text-uppercase">Inspecciones hoy</div>
          </div>
        </div>
      </div>
      <!--end widget-->
    </div>

    <div class="col-lg-3 col-md-6 col-xs-6">
      <div class="widget thumbnail" title="Vehiculos sin fecha de salida">
        <div class="row row-table">
          <div class="col-xs-12 text-center">
            <h2 class="mv-0">{{admin_view.num_pickup_today()}}</h2>
            <div class="text-uppercase">Retiros hoy</div>
          </div>
        </div>
      </div>
      <!--end widget-->
    </div>
  </div>
</div>