{% extends 'admin/base.html'%}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
<h4>Bienvenido {{current_user}}</h4>
{% if current_user.has_role("administrador") %}
  {% include '/admin/administrador.html'%}
{%endif%}
<div class="container">
  <div class="row">
    {% if current_user.has_role("inspector") %}
      {% include '/admin/inspector.html'%}
    {%endif%}
    {% if current_user.has_role("retiro") %}
      {% include '/admin/retiro.html'%}
    {%endif%}
  </div>
</div>
<hr>
<h3>Servicios</h3>
<div class="table-responsive">
  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <th>Servicio</th>
      <th>Inspectores</th>
      <th>Hora</th>
      <th>Vehículo</th>
      <th>Comuna</th>
    </thead>

    {%for service in admin_view.services_today()%}
    <tr>
      <td>{{service._class_name}}<br>{{service.get_estado_display()}}</td>
      <td>{%for ins in service.inspectores%} {{ins}}{%if not loop.last%}, {%endif%}{%endfor%}</td>
      <td>{{service.fecha_programada | time}}</td>
      <td>
        <a href='#' data-toggle="modal" data-target="#serviceModal"
          data-service_type="{{service._class_name}}"
          data-vehicle="{{service.vehiculo}}"
          data-json='{{service.to_json()}}'
          data-json-direccion='{{service.direccion.to_json()}}'
          >
          {{(service.vehiculo or "Sin PPU") | truncate(20)}}</a>
      </td>
      <td>{{service.direccion.comuna}}</td>
      
    </tr>
    {% else %}
    <tr>   
      <td colspan="10"><div class="jumbotron text-center"><h3>Sin servicios asignados</h3></div></td>
    </tr>
    {%endfor%}
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h3 class="modal-title"><span class="service_type"></span> | <small class="vehicle_name"></small></h3>
        <div class="pull-right">
          <a href="#" class="btn btn-lg" data-toggle="tooltip" title="" data-original-title="Previous"><i class="fa fa-chevron-left"></i></a>
          <a href="#" class="btn btn-lg" data-toggle="tooltip" title="" data-original-title="Next"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tr><th>Comuna</th><td id="comuna"></td></tr>
          <tr><th>Dirección</th><td id="direccion"></td></tr>
          <tr><th>Horario</th><td id="hora"></td></tr>
          <tr><th>Comentario</th><td id="comentario"></td></tr>

          <tr><th>Vehiculo</th><td id="vehiculo"></td></tr>
          <tr><th>Ejecutivo</th><td id="ejecutivo"></td></tr>
        </table>


        <a href="#" id="waze_address" class="btn btn-lg btn-info"><i class="fa fa-location-arrow"></i> WAZE<hr style="margin:0"><small>Dirección</small></a>
        <a href="#" id="gmaps_address" class="btn btn-lg btn-success"><i class="fa fa-location-arrow"></i> GMAPS<hr style="margin:0"><small>Dirección</small></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block tail %}
<script>
  $(function () {
    $('#serviceModal').on('shown.bs.modal', function (e) {
      
      var reference_tag = $(e.relatedTarget);
      var jsonData = reference_tag.data('json');
      var jsonDataDir = reference_tag.data('json-direccion');
      
      console.log(jsonData)
      $(e.currentTarget).find('.service_type').text(reference_tag.data('service_type'));
      $(e.currentTarget).find('.vehicle_name').text(reference_tag.data('vehicle'));
      $(e.currentTarget).find('#vehiculo').text(reference_tag.data('vehicle'));
      $(e.currentTarget).find('#comuna').text(jsonDataDir.comuna);
      $(e.currentTarget).find('#direccion').text(jsonDataDir.direccion);


      if (jsonDataDir['direccion']){
        $(e.currentTarget).find('#waze_address').attr("href", "https://waze.com/ul?q="+encodeURI(jsonDataDir['direccion']+", "+jsonDataDir['comuna']))
        $(e.currentTarget).find('#gmaps_address').attr("href", "https://maps.google.com/?q="+encodeURI(jsonDataDir['direccion']+", "+jsonDataDir['comuna']))
        
        $(e.currentTarget).find('#gmaps_address').show(100);
        $(e.currentTarget).find('#waze_address').show(100);
      }else{
        $(e.currentTarget).find('#waze_address').hide();
        $(e.currentTarget).find('#gmaps_address').hide();
      }

    })
  });

</script>

{% endblock %}