
<div class="col-lg-3 col-xs-6">
  <div class="widget thumbnail">
    <div class="row row-table">
      <div class="col-xs-12 text-center">
        <h2 class="mv-0">{{admin_view.my_reviews_today()}}</h2>
        <div class="text-uppercase">Inspecciones hoy</div>
      </div>
    </div>
  </div>
  <!--end widget-->
</div>

<div class="col-lg-3 col-xs-6">
  <div class="widget thumbnail" title="Vehiculos sin fecha de salida">
    <div class="row row-table">
      <div class="col-xs-12 text-center">
        <h2 class="mv-0">{{admin_view.my_reviews_today(1)}}</h2>
        <div class="text-uppercase">Inspecciones Mañana</div>
      </div>
    </div>
  </div>
  <!--end widget-->
</div>

