<div class="col-lg-3 col-md-6 col-xs-6">
  <div class="widget thumbnail">
    <div class="row row-table">
      <div class="col-xs-12 text-center">
        <h2 class="mv-0">{{admin_view.num_pickup_today()}}</h2>
        <div class="text-uppercase">Retiros hoy</div>
      </div>
    </div>
  </div>
  <!--end widget-->
</div>

<div class="col-lg-3 col-md-6 col-xs-6">
  <div class="widget thumbnail">
    <div class="row row-table">
      <div class="col-xs-12 text-center">
        <h2 class="mv-0">{{admin_view.num_pickup_today(1)}}</h2>
        <div class="text-uppercase">Retiros Mañana</div>
      </div>
    </div>
  </div>
  <!--end widget-->
</div>
