{% extends 'admin/model/create.html' %}

{% block body %}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3>¿Esta seguro que desea eliminar el vehiculo {{model.ppu}}?</h3>
    </div>
    <div class="panel-body">
    <h3>Objetos relacionados</h3>
    
    <table class="table table-bordered table-hover">
        <thead>
            <th>Tipo</th>
            <th>Fecha creacion</th>
            <th>Última modificación</th>
            <th>Creado por</th>
        </thead>
        {% for  obj in data%}
        <tr>
            <td>{{obj._class_name}}</td>
            <td>{{obj.creado}}</td>
            <td>{{obj.actualizado}}</td>
            <td>{{obj.creado_por}}</td>
        </tr>
        {% endfor %}
    </table>
    
    <h3>Historial</h3>
    
    <table class="table table-condensed table-bordered">
        <thead>
            <th>fecha</th>
            <th>Modulo</th>
            <th>Usuario</th>
            <th>Descripción</th>
        </thead>
        <tbody>
            {% for history in model.historial | reverse%}
            <tr>
                <td>{{history.creado | datetime}}</td>
                <td>{{history.modulo}}</td>
                <td>{{history.usuario}}</td>
                <td>{{history.descripcion}}</td>
            </tr>
            {% endfor %}
            <tr>
                
                <td>{{model.creado | datetime}}</td>
                <td>Vehiculo</td>
                <td>{{model.creado_por}}</td>
                <td>Se crea el vehiculo</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="panel-footer">
        <div>    
            <a href="{{url_for('.details_view', id=model.id)}}" class="btn btn-default">Volver</a>
            <form method="POST" class="pull-right">
                <button class="btn btn-danger">Confirmar eliminación</button>
            </form>
        </div>
    </div>
</div>
    
<style>
  body {
    background-color: rgb(236, 240, 245)
  }

  .jumbotron {
    background-color: white;
  }

  .panel .panel-body img {
    max-width: 100%;
    max-height: 500px;
  }
</style>
{% endblock %}

{% block tail%}
{{super()}}

<script>

</script>
{% endblock %}
