{% extends 'admin/model/create.html' %}

{% block body %}
<div class="row">
  <div class="col-md-9">
    <h3><b class="text-muted">Vehiculo:</b> {{model.ppu}}</h3>
  </div>
  <div class="col-md-3">
    <form method="GET" class="" action="{{url_for('.ppu', ppu=0)}}">
      <div class="input-group">
        <input type="text" name='ppu' class="form-control" value="{{model.ppu}}">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">

<div class="col-md-9">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Información General</a>
    </li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">historial</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active panel" id="home">
      <div class="panel-body">
        {% include '/vehicles/vehicle_services.html'%}
      </div>
      <div class="panel-footer">
        {%if current_user.has_role('administrador')%}
        <p class="pull-right">
          <small>
            <a href="{{url_for('.edit_view', id=model.id)}}" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-pencil"> editar</span></a> | 
            <a href="{{url_for('.scrap', ppu=model.ppu)}}" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-eye-open"> scrap</span></a> |
            <a href="{{url_for('.preview_delete', _id=model.id)}}" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-trash"> elimnar</span></a>
          </small>
        </p>
        <br>
        {%endif%}
        <p><small class="pull-right">#ID <abbr title="{{model.id}}">{{model.id}}</abbr></small></p>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane panel" id="profile">
      <div class="panel-body">
        {% include '/vehicles/vehicle_history.html'%}
      </div>
    </div>
  </div>

</div>

<!--   
  <div class="jumbotron" style="padding-top: 5px;">
    
  </div> -->

  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">Información básica</div>
      <div class="panel-body">
        <b>Marca:</b> {{model.marca}}<br>
        <b>Modelo:</b> {{model.modelo}}<br>
        <b>Año:</b> {{model.anno}}<br>
        <br>
        <b>Estado actual:</b> No disponible<br>
        <b>Empresa:</b> {{model.empresa}}<br>
        <br>
        {% if model.creado_por%}
        <b>Creado por:</b> {{model.creado_por}}<br>
        {%endif%}
        {% if model.creado%}
        <b>Fecha creación:</b> {{model.creado.strftime("%Y-%m-%d %H:%M")}}<br>
        {%endif%}
        {% if model.actualizado%}
        <b>Última edición:</b> {{model.actualizado.strftime("%Y-%m-%d %H:%M")}}<br>
        {%endif%}
      </div>
    </div>
    
  </div>
</div>
    


<style>
  body {
    background-color: rgb(236, 240, 245)
  }
  .jumbotron {
    background-color: white;
  }
  .panel .panel-body img{
    max-width: 100%;
    max-height: 500px;
  }
</style>
{% endblock %}

{% block tail%}
{{super()}}

<script>
   
</script>
{% endblock %}

