<h3>Historial</h3>

<table class="table table-condensed table-bordered">
    <thead>
        <th>fecha</th>
        <th>Modulo</th>
        <th>Usuario</th>
        <th>Descripción</th>
    </thead>
    <tbody>
        {% for history in model.historial | reverse%}
        <tr>
            <td>{{history.creado | datetime}}</td>
            <td>{{history.modulo}}</td>
            <td>{{history.usuario}}</td>
            <td>{{history.descripcion}}</td>
        </tr>
        {% endfor %}
        <tr>

          <td>{{model.creado | datetime}}</td>
          <td>Vehiculo</td>
          <td>{{model.creado_por}}</td>
          <td>Se crea el vehiculo</td>
        </tr>
    </tbody>
</table>