 <h2>Servicios</h2>
 <hr>

 <h4>Cutodias <small>(bodega)</small></h4>
 <table class="table table-striped table-condensed table-bordered">
   <thead>
     <th></th>
     <th>Cliente</th>
     <th>Bodega</th>
     <th>Fecha Ingreso</th>
     <th>Fecha Salida</th>
     <th><span class="sr-only">Dias </span>Custodia</th>
     {%if current_user.has_role('administrador')%}
     <th>Facturable</th>
     {%endif%}
   </thead>
   <tbody>
     {% for ct in model.custodias() %}
     <tr>
       <td>
         {%if current_user.has_role('administrador')%}
         <a href="{{url_for('custodia.details_view', id=ct.id)}}"><span
             class="fa fa-eye glyphicon glyphicon-eye-open"></span></a>
         {%endif%}
       </td>
       <td>{{ct.empresa}}</td>
       <td>{{ct.bodega}}</td>
       <td>{{ct.ingreso}}</td>
       <td>{{ct.salida or 'No registrada'}}</td>
       <td class="text-right">{{ct.dias_en_acopio or 'Sin salida registrada'}}</td>
       {%if current_user.has_role('administrador')%}
       <td class="text-right">
         {% if ct.salida == None%}
         <small class="hidden-xs hidden-sm text-muted">Falta registrar salida</small>
         <span class="glyphicon glyphicon-calendar text-danger" aria-hidden="true"></span>
         {% elif ct.facturable%}
         <small class="hidden-xs hidden-sm text-muted">Facturable</small>
         <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
         {%else%}
         <small class="hidden-xs hidden-sm text-muted">No Facturable</small>
         <span class="glyphicon glyphicon-remove text-warning" aria-hidden="true"></span>
         {% endif %}
       </td>
       {%endif%}
     </tr>
     {% else%}
     <tr>
       <td colspan="10">
         <p class="text-center">
           No se registran custodias para esta unidad<br>
           <a href="{{url_for('custodia.create_view', vehiculo=model.id)}}" class="btn btn-xs btn-primary">Agregar
             custodia</a>
         </p>
       </td>
     </tr>
     {% endfor%}
   </tbody>
 </table>
 
 <h4>Inspecciones</h4>
 <table class="table table-striped table-condensed table-bordered">
  <thead>
    <th></th>
    <th>Cliente</th>
    <th>Estado</th>
    <th>Inspectores</th>
    <th>fecha programada</th>
  </thead>
   {%for ret in model.inspecciones()%}
  <tr>
    <td>
      {%if current_user.has_role('administrador')%}
      <a href="{{url_for('inspeccion.details_view', id=ret.id)}}"><span
          class="fa fa-eye glyphicon glyphicon-eye-open"></span></a>
      {%endif%}
    </td>
    <td>{{ret.empresa}}</td>
    <td>{{ret.get_estado_display()}}</td>

    <td>{%for insp in ret.inspectores%}{{insp}}{%if not loop.last%} ,{%endif%} {%endfor%}</td>
    <td>{{ret.fecha_programada}}</td>
  </tr>
  {%else%}
  <tr>
    <td colspan="10">
      <p class="text-center">No se registran Inspecciones
        <br>
        <a href="{{url_for('inspeccion.create_view', vehiculo=model.id)}}" class="btn btn-xs btn-primary">Agregar
          Inspección</a>
      </p>
    </td>
  </tr>
  {%endfor%}
</table>

<h4>Retiros</h4>
<table class="table table-striped table-condensed table-bordered">
  <thead>
    <th></th>
     <th>Cliente</th>
    <th>Estado</th>
    <th>Inspectores</th>
    <th>fecha programada</th>
  </thead>
  {%for ret in model.retiros()%}
  <tr>
    <td>
      {%if current_user.has_role('administrador')%}
      <a href="{{url_for('retiro.details_view', id=ret.id)}}"><span
          class="fa fa-eye glyphicon glyphicon-eye-open"></span></a>
      {%endif%}
    </td>
    <td>{{ret.empresa}}</td>
    <td>{{ret.get_estado_display()}}</td>
    <td>{%for insp in ret.inspectores%}{{insp}}{%if not loop.last%} ,{%endif%} {%else%}Sin asignar{%endfor%}</td>
    <td>{{ret.fecha_programada}}</td>
  </tr>
  {%else%}
  <tr>
    <td colspan="10" class="text-center">
      <p class="text-center">No se registran Retiros</p>
      <a href="{{url_for('retiro.create_view', vehiculo=model.id)}}" class="btn btn-xs btn-primary">Agregar
        Retiro</a>
    </td>
  </tr>
  {%endfor%}
</table>
 
<h4>Traslados</h4>
<table class="table table-striped table-condensed">
  <tr>
    <td colspan="10">
      <p class="text-center">No se registran translados</p>
    </td>
  </tr>
</table>