{% extends 'admin/model/details.html' %}

{% block details_table %}
{{super()}}

{%  if not model.lat or not model.lng %}
    <div class="jumbotron text-center"><h3>No se ha especificado locación en el mapa</h3></div>
{% else%}

    <div id="map" style="width: 100%; height: 350px;"></div>
    <a href="https://waze.com/ul?ll={{model.lat}},{{model.lng}}&z=10&navigate=yes" class="btn btn-info">WAZE</a>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic21vbnRveWFnIiwiYSI6ImNrZGoxdzJsdDBhZnYzMHBkdDdienBlOGsifQ.-xFj199y-A52vnED0JHq3Q';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [{{model.lng}}, {{model.lat}}],
            zoom: 13
        });

        var marker = new mapboxgl.Marker()
            .setLngLat([{{model.lng}}, {{model.lat}}])
            .addTo(map);
    </script>
{%endif%}
{%endblock%}
